@{
    ViewBag.Title = "Resultados";
    Layout = null;
}


<html xmlns:o="urn:schemas-microsoft-com:office:office"
      xmlns:x="urn:schemas-microsoft-com:office:excel"
      xmlns="http://www.w3.org/TR/REC-html40">

<head>
    <meta http-equiv=Content-Type content="text/html; charset=windows-1252">
    <meta name=ProgId content=Excel.Sheet>
    <meta name=Generator content="Microsoft Excel 14">
    <link rel=File-List href="Resultados22_archivos/filelist.xml">
    <style id="Libro1_22205_Styles">
<!--table
	{mso-displayed-decimal-separator:"\,";
	mso-displayed-thousand-separator:"\.";}
.font522205
	{color:black;
	font-size:11.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;}
.font622205
	{color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;}
.xl6322205
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl6422205
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:normal;}
.xl6522205
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format: General;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:1.0pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl6622205
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format: General;
	text-align:center;
	vertical-align:middle;
	border:1.0pt solid windowtext;
	background:#F2F2F2;
	mso-pattern:black none;
	white-space:nowrap;}
.xl6722205
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format: General;
	text-align:center;
	vertical-align:middle;
	border:1.0pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl6822205
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format: General;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:1.0pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl6922205
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format: General;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl7022205
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:1.0pt solid windowtext;
	background:#F2F2F2;
	mso-pattern:black none;
	white-space:normal;}
.xl7122205
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:#F2F2F2;
	mso-pattern:black none;
	white-space:normal;}
.xl7222205
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:#F2F2F2;
	mso-pattern:black none;
	white-space:normal;}
.xl7322205
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:1.0pt solid windowtext;
	background:#F2F2F2;
	mso-pattern:black none;
	white-space:normal;}
.xl7422205
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	background:#F2F2F2;
	mso-pattern:black none;
	white-space:normal;}
.xl7522205
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:#F2F2F2;
	mso-pattern:black none;
	white-space:normal;}
.xl7622205
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:left;
	vertical-align:middle;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:normal;}
.xl7722205
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:1.0pt solid windowtext;
	background:#F2F2F2;
	mso-pattern:black none;
	white-space:nowrap;}
.xl7822205
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:#F2F2F2;
	mso-pattern:black none;
	white-space:nowrap;}
.xl7922205
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:#F2F2F2;
	mso-pattern:black none;
	white-space:nowrap;}
.xl8022205
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background:#F2F2F2;
	mso-pattern:black none;
	white-space:nowrap;}
.xl8122205
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:1.0pt solid windowtext;
	border-left:none;
	background:#F2F2F2;
	mso-pattern:black none;
	white-space:nowrap;}
.xl8222205
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:none;
	background:#F2F2F2;
	mso-pattern:black none;
	white-space:nowrap;}
.xl8322205
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format: General;
	text-align:right;
	vertical-align:bottom;
	border-top:1.0pt solid windowtext;
	border-right:none;
	border-bottom:1.0pt solid windowtext;
	border-left:none;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl8422205
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background:#F2F2F2;
	mso-pattern:black none;
	white-space:normal;}
.xl8522205
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:1.0pt solid windowtext;
	border-left:none;
	background:#F2F2F2;
	mso-pattern:black none;
	white-space:normal;}
.xl8622205
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:none;
	background:#F2F2F2;
	mso-pattern:black none;
	white-space:normal;}
.xl8722205
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:bottom;
	border-top:none;
	border-right:none;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background:#F2F2F2;
	mso-pattern:black none;
	white-space:nowrap;}
.xl8822205
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:bottom;
	border-top:none;
	border-right:none;
	border-bottom:1.0pt solid windowtext;
	border-left:none;
	background:#F2F2F2;
	mso-pattern:black none;
	white-space:nowrap;}
.xl8922205
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:bottom;
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:none;
	background:#F2F2F2;
	mso-pattern:black none;
	white-space:nowrap;}
.xl9022205
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:left;
	vertical-align:middle;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:normal;}
.xl9122205
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:bottom;
	border-top:1.0pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:1.0pt solid windowtext;
	background:#F2F2F2;
	mso-pattern:black none;
	white-space:nowrap;}
.xl9222205
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:bottom;
	border-top:1.0pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:#F2F2F2;
	mso-pattern:black none;
	white-space:nowrap;}
.xl9322205
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:bottom;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:#F2F2F2;
	mso-pattern:black none;
	white-space:nowrap;}
.xl9422205
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:bottom;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:1.0pt solid windowtext;
	background:#F2F2F2;
	mso-pattern:black none;
	white-space:nowrap;}
.xl9522205
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:bottom;
	background:#F2F2F2;
	mso-pattern:black none;
	white-space:nowrap;}
.xl9622205
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:bottom;
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:#F2F2F2;
	mso-pattern:black none;
	white-space:nowrap;}
.xl9722205
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format: General;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:none;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl9822205
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format: General;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:none;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl9922205
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format: General;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:1.0pt solid windowtext;
	background:#F2F2F2;
	mso-pattern:black none;
	white-space:nowrap;}
.xl10022205
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format: General;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:#F2F2F2;
	mso-pattern:black none;
	white-space:nowrap;}
.xl10122205
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format: General;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:1.0pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl10222205
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format: General;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:none;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl10322205
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format: General;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:none;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl10422205
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format: General;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:1.0pt solid windowtext;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;}
.xl10522205
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format: General;
	text-align:center;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;}
.xl10622205
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format: General;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;}
.xl10722205
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format: General;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;}
.xl10822205
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format: General;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:1.0pt solid windowtext;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;}
.xl10922205
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format: General;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;}
.xl11022205
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:bottom;
	border:1.0pt solid windowtext;
	background:#F2F2F2;
	mso-pattern:black none;
	white-space:nowrap;}
.xl11122205
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:right;
	vertical-align:middle;
	border:1.0pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:normal;}
.xl11222205
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:right;
	vertical-align:middle;
	border:1.0pt solid windowtext;
	background:#F2F2F2;
	mso-pattern:black none;
	white-space:normal;}
.xl11322205
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:bottom;
	border-top:1.0pt solid windowtext;
	border-right:none;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background:#F2F2F2;
	mso-pattern:black none;
	white-space:nowrap;}
.xl11422205
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:bottom;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:none;
	background:#F2F2F2;
	mso-pattern:black none;
	white-space:nowrap;}
.xl11522205
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:right;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:1.0pt solid windowtext;
	background:#F2F2F2;
	mso-pattern:black none;
	white-space:nowrap;}
.xl11622205
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:right;
	vertical-align:middle;
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:1.0pt solid windowtext;
	background:#F2F2F2;
	mso-pattern:black none;
	white-space:nowrap;}
.xl11722205
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:right;
	vertical-align:middle;
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background:#F2F2F2;
	mso-pattern:black none;
	white-space:nowrap;}
#RA, #RM, #RV, #MCP, #MT {
    text-align:center;}
--></style>
</head>

<body>
    <!--[if !excel]>&nbsp;&nbsp;<![endif]-->
    <!--La siguiente información se generó mediante el Asistente para publicar como
    página web de Microsoft Excel.-->
    <!--Si se vuelve a publicar el mismo elemento desde Excel, se reemplazará toda
    la información comprendida entre las etiquetas DIV.-->
    <!----------------------------->
    <!--INICIO DE LOS RESULTADOS DEL ASISTENTE PARA PUBLICAR COMO PÁGINA WEB DE
    EXCEL -->
    <!----------------------------->

    <div id="Libro1_22205" align=center x:publishsource="Excel">

        <table border=0 cellpadding=0 cellspacing=0 width=1080 class=xl6322205
               style='border-collapse:collapse;table-layout:fixed;width:811pt'>
            <col class=xl6322205 width=184 style='mso-width-source:userset;mso-width-alt:
 6729;width:138pt'>
            <col class=xl6322205 width=105 style='mso-width-source:userset;mso-width-alt:
 3840;width:79pt'>
            <col class=xl6322205 width=93 span=2 style='mso-width-source:userset;
 mso-width-alt:3401;width:70pt'>
            <col class=xl6322205 width=205 style='mso-width-source:userset;mso-width-alt:
 7497;width:154pt'>
            <col class=xl6322205 width=80 span=5 style='width:60pt'>
            <tr height=20 style='mso-height-source:userset;height:15.0pt'>
                <td colspan=5 rowspan=2 height=41 class=xl7722205 width=680 style='border-right:
  1.0pt solid black;border-bottom:1.0pt solid black;height:30.75pt;width:511pt'>
                    RESULTADOS
                    *
                </td>
                <td class=xl6322205 width=80 style='width:60pt'></td>
                <td colspan=4 class=xl7022205 width=320 style='border-right:1.0pt solid black;
  width:240pt'>
                    NO OLVIDES GUARDAR<span style='mso-spacerun:yes'>  </span>
                </td>
            </tr>
            <tr height=21 style='mso-height-source:userset;height:15.75pt'>
                <td height=21 class=xl6322205 style='height:15.75pt'></td>
                <td colspan=4 class=xl7322205 width=320 style='border-right:1.0pt solid black;
  width:240pt'>
                    ESTA INFORMACIÓN CON UNA
                </td>
            </tr>
            <tr height=22 style='mso-height-source:userset;height:16.5pt'>
                <td height=22 class=xl6322205 style='height:16.5pt'></td>
                <td class=xl6322205></td>
                <td class=xl6322205></td>
                <td colspan=2 class=xl8322205>@ViewBag.Fecha</td>
                <td class=xl6322205></td>
                <td colspan=4 class=xl8422205 width=320 style='border-right:1.0pt solid black;
  width:240pt'>
                    CAPTURA DE PANTALLA<span style='mso-spacerun:yes'> </span>
                </td>
            </tr>
            <tr height=20 style='mso-height-source:userset;height:15.0pt'>
                <td height=20 class=xl11522205 style='height:15.0pt'>
                    Apellido y Nombre<span style='mso-spacerun:yes'></span>
                </td>
                <td colspan=4 class=xl10122205 style='border-right:1.0pt solid black;
  border-left:none'>
                    @ViewBag.ApellidoyNombre
                </td>
                <td class=xl6322205></td>
                <td colspan=4 rowspan=24 class=xl9022205 width=320 style='width:240pt'>
                    <h4 id="H4" style="text-align:center;">Posicione el cursor sobre el texto para ver los ejemplos.</h4>
                    <div id="RA" style="width:inherit;height:inherit;">
                        <img style="display:none;width:inherit;height:inherit;" src="../dat_img/RA/Ejemplo_2.jpg" />
                        <font class="font522205">Razonamiento Abstracto</font><br /><font class="font622205">
                            Implica
                            la capacidad para notar relaciones, generalizar y deducir principios a partir
                            de esquemas no-verbales.
                            <span style='mso-spacerun:yes'>
                            </span>
                        </font>
                    </div>
                    <hr>
                    <div id="RM" style="width:inherit;height:inherit;">
                        <img style="display:none;width:auto;height:100px;" src="../dat_img/RM/Ejemplo_1.jpg" />
                        <font class="font522205">Razonamiento Mecánico</font><br /><font class="font622205">
                            Se relaciona con la capacidad de comprender los principios
                            de las fuerzas físicas. Es la habilidad para comprender la transmisión de
                            movimientos, aplicando principios físicos ligados al movimiento de los
                            cuerpos en una situación particular.
                            <span style='mso-spacerun:yes'>
                            </span>
                        </font>
                    </div>
                    <hr>
                    <div id="RV" style="width:inherit;height:inherit;">
                        <img style="display:none;width:inherit;height:inherit;" src="../../Content/img/Ejemplo_RV.jpg" />
                        <font class="font522205">Razonamiento Verbal</font><br /><font class="font622205">
                            Refiere a la capacidad de entender conceptos formulados
                            verbalmente, de abstraer, generalizar y pensar de manera constructiva.
                            <span style='mso-spacerun:yes'>
                            </span>
                        </font>
                    </div>
                    <hr>
                    <div id="MCP" style="width:inherit;height:inherit;">
                        <img style="display:none;width:auto;height:80px;" src="../../Content/img/Ejemplo_CS.jpg" />
                        <font class="font522205">Memoria de Corto Plazo Viso Espacial</font><br /><font class="font622205">
                            Permite la retención, por un periodo muy breve de tiempo,
                            de información viso-espacial.
                            <span style='mso-spacerun:yes'>
                            </span>
                        </font>
                    </div>
                    <hr>
                    <div id="MT" style="width:inherit;height:inherit;">
                        <img style="display:none;width:auto;height:110px;" src="../../Content/img/Ejemplo_CI.jpg" />
                        <font class="font522205">Memoria de Trabajo Viso Espacial</font><br /><font class="font622205">
                            Permite no sólo retener información viso-espacial sino
                            también operar sobre ella, guiando procesos cognitivos complejos.
                        </font>
                    </div>
                </td>
            </tr>
            <tr height=20 style='height:15.0pt'>
                <td height=20 class=xl11622205 style='height:15.0pt'>
                    Género<span style='mso-spacerun:yes'></span>
                </td>
                <td colspan=4 class=xl10422205 style='border-right:1.0pt solid black;
  border-left:none'>
                    @ViewBag.Genero
                </td>
                <td class=xl6322205></td>
            </tr>
            <tr height=20 style='height:15.0pt'>
                <td height=20 class=xl11622205 style='height:15.0pt'>
                    Edad<span style='mso-spacerun:yes'></span>
                </td>
                <td colspan=4 class=xl10422205 style='border-right:1.0pt solid black;
  border-left:none'>
                    @ViewBag.Edad
                </td>
                <td class=xl6322205></td>
            </tr>
            <tr height=20 style='height:15.0pt'>
                <td height=20 class=xl11622205 style='height:15.0pt'>
                    Carrera<span style='mso-spacerun:yes'></span>
                </td>
                <td colspan=4 class=xl10422205 style='border-right:1.0pt solid black;
  border-left:none'>
                    @ViewBag.Carrera
                </td>
                <td class=xl6322205></td>
            </tr>
            <tr height=20 style='height:15.0pt'>
                <td height=20 class=xl11622205 style='height:15.0pt'>
                    Universidad<span style='mso-spacerun:yes'></span>
                </td>
                <td colspan=4 class=xl10422205 style='border-right:1.0pt solid black;
  border-left:none'>
                    @ViewBag.Universidad
                </td>
                <td class=xl6322205></td>
            </tr>
            <tr height=21 style='height:15.75pt'>
                <td height=21 class=xl11722205 style='height:15.75pt'>
                    Ingreso<span style='mso-spacerun:yes'></span>
                </td>
                <td colspan=4 class=xl10722205 style='border-right:1.0pt solid black;
  border-left:none'>
                    @ViewBag.Ingreso
                </td>
                <td class=xl6322205></td>
            </tr>
            <tr height=21 style='height:15.75pt'>
                <td height=21 class=xl6322205 style='height:15.75pt'></td>
                <td class=xl6322205></td>
                <td class=xl6322205></td>
                <td class=xl6322205></td>
                <td class=xl6322205></td>
                <td class=xl6322205></td>
            </tr>
            <tr height=22 style='height:16.5pt'>
                <td height=22 class=xl11022205 style='height:16.5pt'>**</td>
                <td class=xl11022205 style='border-left:none'>Aciertos (%)</td>
                <td colspan=2 class=xl11322205 style='border-right:1.0pt solid black;
  border-left:none'>
                    Desempeño<span style='mso-spacerun:yes'> </span>
                </td>
                <td class=xl11022205 style='border-left:none'>
                    Tiempo de Resolución (ms)<span style='mso-spacerun:yes'></span>
                </td>
                <td class=xl6322205></td>
            </tr>
            <tr height=23 style='mso-height-source:userset;height:17.25pt'>
                <td height=23 class=xl11122205 width=184 style='height:17.25pt;border-top:
  none;width:138pt'>
                    Razonamiento Abstracto
                </td>
                <td class=xl6522205 style='border-top:none;border-left:none'>@ViewBag.Aciertos_RA</td>
                <td colspan=2 class=xl9722205 style='border-right:1.0pt solid black;
  border-left:none'>
                    @ViewBag.D_RA
                </td>
                <td class=xl6522205 style='border-top:none;border-left:none'>@ViewBag.TR_RA</td>
                <td class=xl6322205></td>
            </tr>
            <tr height=23 style='mso-height-source:userset;height:17.25pt'>
                <td height=23 class=xl11222205 width=184 style='height:17.25pt;border-top:
  none;width:138pt'>
                    Razonamiento Mecánico
                </td>
                <td class=xl6622205 style='border-left:none'>@ViewBag.Aciertos_RM</td>
                <td colspan=2 class=xl9922205 style='border-right:1.0pt solid black;
  border-left:none'>
                    @ViewBag.D_RM
                </td>
                <td class=xl6622205 style='border-left:none'>@ViewBag.TR_RM</td>
                <td class=xl6322205></td>
            </tr>
            <tr height=23 style='mso-height-source:userset;height:17.25pt'>
                <td height=23 class=xl11122205 width=184 style='height:17.25pt;border-top:
  none;width:138pt'>
                    Razonamiento Verbal
                </td>
                <td class=xl6722205 style='border-top:none;border-left:none'>@ViewBag.Aciertos_RV</td>
                <td colspan=2 class=xl9722205 style='border-right:1.0pt solid black;
  border-left:none'>
                    @ViewBag.D_RV
                </td>
                <td class=xl6822205 style='border-left:none'>@ViewBag.TR_RV</td>
                <td class=xl6322205></td>
            </tr>
            <tr height=45 style='mso-height-source:userset;height:33.75pt'>
                <td height=45 class=xl11222205 width=184 style='height:33.75pt;border-top:
  none;width:138pt'>
                    Memoria de Corto Plazo Viso-Espacial
                </td>
                <td class=xl6622205 style='border-top:none;border-left:none'>@ViewBag.Aciertos_CS</td>
                <td colspan=2 class=xl9922205 style='border-right:1.0pt solid black;
  border-left:none'>
                    @ViewBag.D_CS
                </td>
                <td class=xl6622205 style='border-left:none'>@ViewBag.TR_CS</td>
                <td class=xl6322205></td>
            </tr>
            <tr height=45 style='mso-height-source:userset;height:33.75pt'>
                <td height=45 class=xl11122205 width=184 style='height:33.75pt;border-top:
  none;width:138pt'>
                    &nbsp; Memoria de Trabajo<span style='mso-spacerun:yes'>
                    </span>Viso-Espacial
                </td>
                <td class=xl6722205 style='border-top:none;border-left:none'>@ViewBag.Aciertos_CI</td>
                <td colspan=2 class=xl9722205 style='border-right:1.0pt solid black;
  border-left:none'>
                    @ViewBag.D_CI
                </td>
                <td class=xl6922205 style='border-left:none'>@ViewBag.TR_CI</td>
                <td class=xl6322205></td>
            </tr>
            <tr height=10 style='mso-height-source:userset;height:7.5pt'>
                <td height=10 class=xl6322205 style='height:7.5pt'></td>
                <td class=xl6322205></td>
                <td class=xl6322205></td>
                <td class=xl6322205></td>
                <td class=xl6322205></td>
                <td class=xl6322205></td>
            </tr>
            <tr height=20 style='mso-height-source:userset;height:15.0pt'>
                <td colspan=5 rowspan=2 height=40 class=xl7622205 width=680 style='height:
  30.0pt;width:511pt'>
                    *Estos resultados son estimativos y no remplazan la
                    evaluación cognitiva que puede realizar un profesional.<span style='mso-spacerun:yes'></span>
                </td>
                <td class=xl6422205 width=80 style='width:60pt'></td>
            </tr>
            <tr height=20 style='height:15.0pt'>
                <td height=20 class=xl6422205 width=80 style='height:15.0pt;width:60pt'></td>
            </tr>
            <tr height=20 style='mso-height-source:userset;height:15.0pt'>
                <td colspan=5 rowspan=3 height=60 class=xl7622205 width=680 style='height:
  45.0pt;width:511pt'>
                    **Dependiendo de cómo te haya ido en cada una de las
                    pruebas, tendrás una mejor habilidad, o una mayor dificultad (según el caso)
                    para resolver determinadas tareas según el tipo predominante de razonamiento
                    o memoria que estas requieran.<span style='mso-spacerun:yes'> </span>
                </td>
                <td class=xl6422205 width=80 style='width:60pt'></td>
            </tr>
            <tr height=20 style='height:15.0pt'>
                <td height=20 class=xl6422205 width=80 style='height:15.0pt;width:60pt'></td>
            </tr>
            <tr height=20 style='height:15.0pt'>
                <td height=20 class=xl6422205 width=80 style='height:15.0pt;width:60pt'></td>
            </tr>
            <tr height=10 style='mso-height-source:userset;height:7.5pt'>
                <td height=10 class=xl6322205 style='height:7.5pt'></td>
                <td class=xl6322205></td>
                <td class=xl6322205></td>
                <td class=xl6322205></td>
                <td class=xl6322205></td>
                <td class=xl6322205></td>
            </tr>
            <tr height=21 style='height:15.75pt'>
                <td colspan=5 height=21 class=xl9122205 style='border-right:1.0pt solid black;
  height:15.75pt'>
                    ¡INVITA A TUS AMIGOS A PARTICIPAR Y COMPAREN RESULTADOS!
                </td>
                <td class=xl6322205></td>
            </tr>
            <tr height=21 style='height:15.75pt'>
                <td colspan=5 height=21 class=xl9422205 style='border-right:1.0pt solid black;
  height:15.75pt'>
                    SI TAMBIÉN ESTÁN EN PRIMER AÑO DE INGENIERÍA O PSICOLOGÍA<span style='mso-spacerun:yes'></span>
                </td>
                <td class=xl6322205></td>
            </tr>
            <tr height=21 style='height:15.75pt'>
                <td colspan=5 height=21 class=xl9422205 style='border-right:1.0pt solid black;
  height:15.75pt'>
                    SÓLO TIENEN QUE MANDAR UN MAIL A
                    guido_181193@outlook.com<span style='mso-spacerun:yes'> </span>
                </td>
                <td class=xl6322205></td>
            </tr>
            <tr height=22 style='height:16.5pt'>
                <td colspan=5 height=22 class=xl8722205 style='border-right:1.0pt solid black;
  height:16.5pt'>
                    ASUNTO: QUIERO PARTICIPAR
                </td>
                <td class=xl6322205></td>
            </tr>
            <![if supportMisalignedColumns]>
            <tr height=0 style='display:none'>
                <td width=184 style='width:138pt'></td>
                <td width=105 style='width:79pt'></td>
                <td width=93 style='width:70pt'></td>
                <td width=93 style='width:70pt'></td>
                <td width=205 style='width:154pt'></td>
                <td width=80 style='width:60pt'></td>
                <td width=80 style='width:60pt'></td>
                <td width=80 style='width:60pt'></td>
                <td width=80 style='width:60pt'></td>
                <td width=80 style='width:60pt'></td>
            </tr>
            <![endif]>
        </table>

    </div>


    <!----------------------------->
    <!--FINAL DE LOS RESULTADOS DEL ASISTENTE PARA PUBLICAR COMO PÁGINA WEB DE
    EXCEL-->
    <!----------------------------->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../../Scripts/Resultados.js"></script>
    <script src="../../Scripts/PrevenirCierre.js"></script>
</body>

</html>



